<section>
    <div *ngIf="getCurrentRoute() === '/home'">
    <div class="circle"></div>
    </div>
<header id="headerContainer" class="header-primary">

    <nav class="flex-container">
        <div class="flex-group" id="leftGroup">
                <a routerLink="/home" title="The Properties Finder" class="logo" id="logo" alt="ThePropertiesFinder.com Logo">
                    <img src="/assets/images/logo2.png" alt="ThePropertiesFinder.com logo" class="logo-head" id="logo-head">
                </a>
        </div>

        <div class="flex-group" id="rightGroup">
            <a routerLink="/find-agent" tabindex="0" id="headerFindAgent" title="Real Estate Agents" class="find-agent" id="findAgentButton"> <a id="theWord">{{'FIND' | translate}}</a> {{'AN_AGENT' | translate}} </a>

            <a title="User Options" class="logo c" tabindex="0">
            <img src="/assets/images/userHeader.png" alt="Options to users" class="user-opt" id="user-opt">
            <div id="drop-down">
                <a routerLink="/login" class="clinks">   {{ 'LOGIN' | translate }}  </a>
                <a routerLink="/signin" class="clinks">   {{ 'SIGNIN' | translate }}  </a>
            </div>
            </a>
           
            </div>
    </nav>

</header>
</section>
