<footer>

    <nav class="flex-container">
        <div class="flex-group" id="leftGroup">
                <a href="/" title="The Properties Finder" class="logo" id="logo" alt="ThePropertiesFinder.com Logo">
                 <a id="theWord">The</a>PropertiesFinder.com
                </a>
        </div>

        <div class="flex-group" id="centerGroup">
                <a href="/" title="About section" class="footerOptions">{{ 'ABOUT' | translate}}</a>
                <a href="/" title="Blog section" class="footerOptions">{{ 'BLOG' | translate}}</a>
                <a href="/" title="Services section" class="footerOptions">{{ 'SERVICES' | translate}}</a>
                <a href="/" title="Contacts section" class="footerOptions">{{ 'CONTACT' | translate}}</a>
        </div>

        <div class="flex-group" id="rightGroup">
        <a href="/" title="Facebook" class="socialMedia">
            <img src="/assets/images/facebook.png" alt="FB link" class="sm-opt" id="sm-opt">
        </a>
        <a href="/" title="Twitter" class="socialMedia">
            <img src="/assets/images/twitter.png" alt="TW link" class="sm-opt" id="sm-opt">
        </a>
        <a href="/" title="Instagram" class="socialMedia">
            <img src="/assets/images/instagram.png" alt="IG link" class="sm-opt" id="sm-opt">
        </a>
            </div>
    </nav>

    <div class="bottomFooter">
    <hr class="separator">    

    <div class="subscribe-container">
    <a title="The Properties Finder" class="logo" id="subscribeNow" alt="Subscribe now">
       {{'SUBSCRIBE' | translate }}<a id="theWord">&nbsp; {{ 'NOW' | translate }}</a>
    </a>
    <input type="text" [placeholder]="yourEmailKey" class="subscribeNowInput">
    <button class="subscribeButton"> &nbsp; &nbsp; ></button>
    </div>

    <div class="languageDiv">
    <select class="language-dropdown" (change)="changeLang($event.target)">
        <option value="" selected disabled>Language</option>
        <option value="en" [selected]="lang == 'en'" >English</option>
        <option value="es" [selected]="lang == 'es'">Español</option>
      </select>
      </div>

    <a class="copyright">{{ 'Marlon_Alvarez_R_2023_All_rights_reserved' | translate}}</a>

    </div>
  </footer>