
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 8%;
    margin-bottom: 50px;
  }

  @media (max-width: 1600px) {
    .product-container {
      padding: 0 0%;
    }
  }
  
  .product-row {
    width: 100%; 
    display: flex;
    min-height: 24.125rem;
    align-items: center;
    justify-content: center;
  }
  
  .product-item {
    cursor: pointer;
    height: 22.125rem;
    width: 20%;
    border: 1px solid #d2d2d2;
    text-align: left;
    border-radius: 0.25rem;
    margin: 0 5px 5px 5px;
    transition: 0.3s;
  }

  .product-item:hover {
    transform: scale(1.05); 
  }
  
  .image-container {
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .product-item img {
    width: 100%;
    height: 14.375rem;
    background-position: 50%;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    background-size: cover;
  }
  
  .price {
    font-weight: 600;
    line-height: 150%;
    font-size: 1rem;
    color: #2b2b2b;
  }
  
  .address {
    font-size: 1rem;
    color: #666;
    margin: 5px;
  }

  .title{
    margin: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: .45px;
    margin-left: 6rem;
  }

  .product-information{
    overflow: hidden;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0.1875rem;
    margin: 5px;
  }

  .beds, .baths{
    font-size: 14px;
    color: #666;
  }

  .product-information .price:after, .product-information .beds:after {
    content: "\a";
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #b2b2b2;
    display: inline-block;
    margin: 0 0.5rem;
    transform: translateY(-2px);
}

.type{
    font-weight: 500;
    height: 3rem;
    gap: 0.25rem;
    width: 100%;
    align-items: center;
    display: inline-flex;
}

.type span{
    margin-left: 0.5rem;
}

button{
    background: #000000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
}