<section class="about" [@slideFromTop]>
            <div class="main">
                <img src="../assets/images/marlon.jpeg">
                <div class="about-text">
                    <h1> {{ 'ABOUT' | translate }} {{ 'US2' | translate }}</h1>
                    <h5>CEO<span> & Software developer</span></h5>
                    <p><span>{{ 'I_AM' | translate }}</span> 
                        {{ 'ABOUT_MARLON' | translate }}
                    </p>
                    <button (click)="goToLinkedIn()">{{ 'TALK' | translate }}</button>
                </div>
            </div>
    </section>
    
