<section class="about" [@slideFromTop]>
            <div class="main">
                <img src="../assets/images/marlon.jpeg">
                <div class="about-text">
                    <h1> {{ 'ABOUT' | translate }} {{ 'US' | translate }}</h1>
                    <h5>CEO<span> & Software developer</span></h5>
                    <p><span>I am Marlon Alvarez Rodriguez.</span> I am a full-stack developer.
                        I am passionate about technology. I am in charge of taking this idea to the next level, 
                        with market leading ideas and the best technologies. A perfect design. 
                        Providing an incredible experience different from what is on the market
                        and accessible to all users.
                    </p>
                    <button>Let's Talk</button>
                </div>
            </div>
    </section>
    
