
<section [@slideIn]>
<div class="content">
    <div class="tittleBox">
        <h2>{{ 'UNLOCK_THE_DOOR' | translate}}<br></h2>
        <h2>{{'TO_YOUR_DREAM' | translate}}<span>{{ 'HOME' | translate}}</span></h2>
       <p>{{'WITH_US' | translate}}</p>
        <a href="#">{{'GO_AHEAD!' | translate}}</a>
    </div>

    <div class="imgBox"> 
    <img src="/assets/images/HouseLanding.png" alt="House Image">
        </div>

        <div class="copyright">
            <p>&copy; ThePropertiesFinder</p>
        </div>
       
</div>
</section>
<app-product-catalog [title]="'NEW_PUBLICATIONS' | translate" [cant]="8" ></app-product-catalog>