 @keyframes slideFromTop {
     0% {
       transform: translateY(-100%);
       opacity: 0;
     }
     100% {
       transform: translateY(0);
       opacity: 1;
     }
   }

.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-color: #6D9886;
}

.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 6000;
    position: relative;
    color: #1C1C1C;
}

.container h1::after{
    content: '';
    background: #1C1C1C;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: #ffffd5;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #6D9886;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.service:hover{
    background: #fff;
    color: #1C1C1C;
    transform: scale(1.15);
}

.service:hover i{
    color: #6D9886;
}